<div class="collapse navbar-collapse" id="navbarSupportedContent">
<ul id="nav" class="navbar-nav ml-auto">
<li *ngIf="!isLoggued$; else loggedIn" class="nav-item active" (click)="abrirModalLogin()">
    Entrar
</li>
<ng-template #loggedIn>
  <li class="nav-item active" >
    <a href="#" (click)="abrirModalArticulo()">
      Agregar artículo</a>
  </li>
  <li *ngIf="articulosData.length > 0" class="nav-item active" >
    <a href="#" (click)="agregarArticulosPorLotes()">
      Agregar {{ articulosData.length }} artículos por lote</a>
  </li>
  <li class="nav-item active">
    <a href="#" (click)="logout()">
      Salir
      </a>
  </li>
</ng-template>
</ul>
</div>

<ng-template #myModalLogin let-modal>

  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Iniciar sesión</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.close()">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()">
      <div class="form-group">
        <label>Usuario</label>
        <input class="form-control" type="text" name="usuario" placeholder="Usuario" formControlName="username" />
      </div>
      <div class="form-group">
        <label>Password</label>
        <input class="form-control" type="text" name="password" placeholder="Password" formControlName="password" />
      </div>

      <div class="btn-group btn-group-lg d-flex" role="group">
        <button type="button" class="btn btn-secondary" (click)="modal.close()">Cancelar</button>
        <button type="submit" class="btn btn-primary">Entrar</button>
      </div>
      </form>
    </div>
  </div>

</ng-template>

<ng-template #myModalNuevoArticulo let-modal>

  <div class="modal-content modal-lg">
    <div class="modal-header">
      <h5 class="modal-title">Agregar artículo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modal.close()">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="nuevoArticuloForm" (ngSubmit)="onNuevoArticuloSubmit()">
      <div class="form-group">
        <label>Descripción</label>
        <input class="form-control" type="text" name="descripcion" placeholder="Descripción del artículo" formControlName="descripcion" />
      </div>
      <div class="form-group">
        <label>Categoria</label>
        <select class="form-control" name="categoria" formControlName="categoria">
          <option value="Vestidos">Vestidos</option>
          <option value="Pantalones">Pantalones</option>
          <option value="Blusas">Blusas</option>
          <option value="Shorts">Shorts</option>
          <option value="Camisas">Camisas</option>
          <option value="Calzado">Calzado</option>
          <option value="Accesorios">Accesorios</option>
          <option value="Otros">Otros</option>
        </select>
      </div>
      <div class="form-group">
        <label>Precio</label>
        <input class="form-control" type="number" name="precio" placeholder="Precio" formControlName="precio" />
      </div>
      <div class="form-group">
        <label>Imagen 1</label>
        <input class="form-control" type="text" name="imagen1" placeholder="Imagen 1" formControlName="imagen1" />
      </div>
      <div class="form-group">
        <label>Imagen 2</label>
        <input class="form-control" type="text" name="imagen2" placeholder="Imagen 2" formControlName="imagen2" />
      </div>

      <div class="btn-group btn-group-lg d-flex" role="group">
        <button type="button" class="btn btn-secondary" (click)="modal.close()">Cancelar</button>
        <button type="submit" class="btn btn-primary">Guardar</button>
      </div>
      </form>
    </div>
  </div>

</ng-template>
