    <section id="blog" class="blog-area pt-125">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="section-title text-center pb-25">
                        <h3 class="title mb-15">Bazar de Marianita</h3>
                        <p>Aparta las prendas que te gusten, solo envíame tus datos para que pueda pasar a dejártelas.</p>
                    </div> <!-- section title -->
                </div>
            </div> <!-- row -->
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6" *ngFor="let item of articulos$ | async">
                    <div class="single-blog mt-30" *ngIf="!item.Vendido && (!isLoggued$ || (loguedUser && item.Usuario == loguedUser.id))">

                        <div class="blog-image">
                            <app-images-carousel [images]="item.Imagenes"></app-images-carousel>
                        </div>
                        <div class="blog-content">
                            <div class="content">
                                <h4 class="title"><a href="/"> {{ item.Descripcion}} </a></h4>
                                <span>$ {{item.Precio}}</span>
                            </div>
                            <div class="meta d-flex justify-content-between align-items-center">
                                <div class="meta-admin d-flex align-items-center">
                                    <div class="admin-title">
                                        <h6 class="title"><a href="/">{{ item.Apartado ? "Apartado" : "Disponible"}}</a></h6>
                                    </div>
                                </div>  <!-- meta admin -->
                                <div class="meta-icon" *ngIf="!item.Apartado">
                                    <a class="btn" href="" (click)="modalApartar(item.id)">Apartar</a>
                                </div> <!-- meta icon -->
                            </div> <!-- meta -->
                        </div>
                    </div> <!-- single blog -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>
<router-outlet></router-outlet>    